*{
  box-sizing:border-box;
}

body{
  margin:0;
  font-family: Arial, sans-serif;
}
.app {
  min-height: 100vh;
  background-color: #f5f7fb;
}

/*Header styling*/
.navbar {
  display:flex;/*activates flexBox and children of navbar can easily positioned in row*/
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: white;
}
.navbar nav{
  display: flex;
  gap: 25px;/*gap between nav links*/
}

.navbar nav a{
  text-decoration: none;/*remove underline*/
  color: #333; /*dark grey*/
}

/*Main Styling*/
main {
  max-width: 900px;
  margin:auto;
}

.hero{
  text-align: center;
  padding: 80px 20px;
}
 .hero h1 {
  font-size: 42px;
  margin-bottom: 10px;/*space below the h1*/
 }

 .hero p {
  color: #666;
 }

 .email-box{
  display: flex;
  justify-content: space-between;/*align items horizontally*/
  align-items: center;/*work vertically*/
  max-width: 600px;
  margin: 35px auto 20px;
  padding: 15px 20px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
 }

 .email-box button{
  padding: 8px 15px;
  border:none;
  border-radius: 6px;
  cursor: pointer;/*change cursor to pointer*/
 }
 .generate-btn{
  padding: 14px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;

 }
 .expiry {
  margin-top: 15px;
 }

 .inbox {
  padding: 30px;
  background: white;
  border-radius: 12px;
  margin-bottom: 50px;
 }

 .empty-inbox {
  text-align: center;
  padding: 40px;
  border: 1px dashed #ccc;
 }
 
